<a href="https://colab.research.google.com/github/iamabjunior2003/Python-Practicals-by-AB/blob/main/practical_no_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Write a Python program to create a set, add member(s) in a set and remove one item from set.

myset = {'a','b','c','d'}
myset.add('s')
print(myset)

{'d', 's', 'c', 'a', 'b'}

In [13]:
''' 2. Write a Python program to perform following operations on set: 
intersection of sets, union of sets, set difference, symmetric difference, clear a set.
'''
myset1 = {'a','b','c','l'}
myset2 = {'a','b','c','d','s','t','l','u'}

print("intersection : ",myset1.intersection(myset2))
print("Union : ",myset2.union(myset1))
print("Set difference : ",myset2.difference(myset1))
print("Symmetric difference : ",myset1.symmetric_difference(myset2))
myset1.clear()
print(myset1)

intersection :  {'a', 'c', 'b', 'l'}
Union :  {'d', 's', 'c', 'l', 't', 'a', 'u', 'b'}
Set difference :  {'u', 's', 'd', 't'}
Symmetric difference :  {'d', 's', 't', 'u'}
set()

In [15]:
# 3. Write a Python program to find maximum and the minimum value in a set.

myset = {1,2,3,4,5,6,7,8,9,10,11,29,33,56}
print("Max : ",max(myset))
print("Min : ",min(myset))

Max :  56
Min :  1

In [17]:
# 4. Write a Python program to find the length of a set.

myset = {1,2,3,4,5,6,7,8,9,10,11,29,33,56}
print("Length : ",len(myset))

Length :  14