<a href="https://colab.research.google.com/github/iamabjunior2003/Python-Practicals-by-AB/blob/main/practical_no_9_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# 1. Write a Python script to sort (ascending and descending) a dictionary by value

import operator

cars = {"BMW": 2, "G-63": 4, "TATA": 3, "Rolly-Royce": 1, "BUGGATI": 0}

s= dict(sorted(d.items(), key=operator.itemgetter(1)))

print('ascending order of cars by values : ',s)

s1= dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))

print('descending order of cars by values : ',s1)

ascending order of cars by values :  {'BUGGATI': 0, 'Rolly-Royce': 1, 'BMW': 2, 'TATA': 3, 'G-63': 4}
descending order of cars by values :  {'G-63': 4, 'TATA': 3, 'BMW': 2, 'Rolly-Royce': 1, 'BUGGATI': 0}

In [22]:
'''
2. Write a Python script to concatenate following dictionaries to create a new one.
a. Sample Dictionary:
b. dic1 = {1:10, 2:20}
c. dic2 = {3:30, 4:40}
d. dic3 = {5:50,6:60}
'''
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic4 ={}

for d in (dic1, dic2, dic3):
    dic4.update(d)
    print(dic4)

{1: 10, 2: 20}
{1: 10, 2: 20, 3: 30, 4: 40}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [29]:
'''
3. Write a Python program to combine two dictionary adding values for common
keys.
a. d1 = {'a': 100, 'b': 200, 'c':300}
b. d2 = {'a': 300, 'b': 200, 'c':400}

'''

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'c':400}

for i in d2:
    if i in d1:
        d2[i] = d2[i] + d1[i]
    else:
        pass
          
print(d2)

{'a': 400, 'b': 400, 'c': 700}

In [38]:
from typing import Union
'''
4. Write a Python program to print all unique values in a dictionary.

'''
d1 = [{'a': 100, 'b': 200, 'c':300,'d': 300, 'e': 200, 'f':400}]
print("Original List: ",d1)
u_value = set( val for dic in d1 for val in dic.values())
print("Unique Values: ",u_value)

Original List:  [{'a': 100, 'b': 200, 'c': 300, 'd': 300, 'e': 200, 'f': 400}]
Unique Values:  {200, 100, 400, 300}

In [48]:
from collections import Counter

my_dict = {"BMW": 2, "G-63": 4, "TATA": 3, "Rolly-Royce": 1, "BUGGATI": 0}

a = Counter(my_dict)

large = a.most_common(3)

print("Dictionary with 3 highest values:")

print("Keys: Values")

for i in large:

   print(i[0]," :",i[1]," ")

Dictionary with 3 highest values:
Keys: Values
G-63  : 4
TATA  : 3
BMW  : 2