<a href="https://colab.research.google.com/github/iamabjunior2003/Python-Practicals-by-AB/blob/main/Practical_No_9_Sample_code_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict1 = {'Name': 'Zara', 'Age': '7', 'Class': 'First'}
print(dict1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict1['Name'])
print("dict['Age']: ", dict1['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8; # update existing entry
dict1['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict1['Age'])
print("dict['School']: ", dict1['School'])

dict['Age']:  8
dict['School']:  DPS School

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']; # remove entry with key 'Name'
dict.clear(); # remove all entries in dict
del dict ; # delete entire dictionary

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
for key, value in dict.items():
    print(key, ' - ', value)

Name  -  Zara
Age  -  7
Class  -  First

In [ ]:
dictionary = {'MSBTE' : 'Maharashtra State Board of Technical Education',
 'CO' : 'Computer Engineering',
 'SEM' : 'Sixth'
 }
del dictionary['CO'];
for key, values in dictionary.items():
    print(key)
dictionary.clear();
for key, values in dictionary.items():
    print(key)
for key, values in dictionary.items():
    print(key) 
del dictionary;

MSBTE
SEM

In [1]:
dictionary1 = {'Google' : 1,
 'Facebook' : 2,
 'Microsoft' : 3
 }
dictionary2 = {'GFG' : 1,
 'Microsoft' : 2,
 'Youtube' : 3
 }
dictionary1.update(dictionary2);
for key, values in dictionary1.items():
 print(key, values)

Google 1
Facebook 2
Microsoft 2
GFG 1
Youtube 3

In [2]:
temp = dict()
temp['key1'] = {'key1' : 44, 'key2' : 566}
temp['key2'] = [1, 2, 3, 4]
for (key, values) in temp.items():
 print(values, end = "")

{'key1': 44, 'key2': 566}[1, 2, 3, 4]