<a href="https://colab.research.google.com/github/iamabjunior2003/Python-Practicals-by-AB/blob/main/practical_no_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a tuple and find the minimum and maximum number from it

mytuple = (10,23,56,874,85,241,65,25,95,75)
mylist = list(mytuple)
mylist.sort()
mytuple = tuple(mylist)

print(f"The Smallest Number in Tuple Is : {mytuple[0]} \nAnd The Largest Number in Tuple Is : {mytuple[-1]} ")

# or 

mytuple2 = (10,23,56,874,85,241,65,25,95,75)

print(f"The Smallest Number in Tuple Is : {min(mytuple2)} \nAnd The Largest Number in Tuple Is : {max(mytuple2)} ")

The Smallest Number in Tuple Is : 10
And The Largest Number in Tuple Is : 874
The Smallest Number in Tuple Is : 10
And The Largest Number in Tuple Is : 874

In [ ]:
# 2. Write a Python program to find the repeated items of a tuple.

t = (10,23,56,10,23)

for i in range(0,len(t)):
 
    for j in range(i+1,len(t)):
 
        if t[i]==t[j]:
 
            print(t[i],end=" ")

10 23

In [7]:
# 3. Print the number in words for Example: 1234 => One Two Three Four

Number = int(input("Enter anu number : \n"))

Num = str(Number)

for i in Num:
    if i == "1":
        print("ONE",end=" ")
    elif i == "2":
        print("TWO",end=" ")
    elif i == "3":
        print("THREE",end=" ")
    elif i == "4": 
        print("FOUR",end=" ")
    elif i == "5":
        print("FIVE",end=" ")
    elif i == "6":
        print("SIX",end=" ")
    elif i == "7":
        print("SEVEN",end=" ")
    elif i == "8":
        print("EIGHT",end=" ")
    elif i == "9":
        print("NINE",end=" ")
    elif i == "0":
        print("ZERO",end=" ")

Enter anu number :
9175104705
NINE ONE SEVEN FIVE ONE ZERO FOUR SEVEN ZERO FIVE