<a href="https://colab.research.google.com/github/iamabjunior2003/Python-Practicals-by-AB/blob/main/practical_no_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Write a Python program to sum all the items in a list.

mylist = [12,10,30,55,48,98,456,65,42,18,49]
sum = 0
for i in mylist:
    sum += i

print(sum)

883

In [3]:
# 2. Write a Python program to multiplies all the items in a list

mylist = [12,10,30]
Multiply = 1
for i in mylist:
    Multiply *= i

print(Multiply)

360000

In [10]:
# 3. Write a Python program to get the largest number from a list.

mylist = [12,10,30,55,48,98,456,1025,42,18,49]

mylist.sort()
print(f"The Largest Number In the List is : {mylist[-1]}")

The Largest Number In the List is : 1025

In [11]:
# 4. Write a Python program to get the smallest number from a list.

mylist = [12,10,30,55,48,98,456,1025,42,18,49]

mylist.sort()
print(f"The Smallest Number In the List is : {mylist[0]}")

The Smallest Number In the List is : 10

In [14]:
# 5. Write a Python program to reverse a list.

mylist = [12,10,30,55,48,98,456,1025,42,18,49]
mylist [::-1]

[49, 18, 42, 1025, 456, 98, 48, 55, 30, 10, 12]

In [21]:
# 6. Write a Python program to find common items from two lists.

mylist = [12,10,30,55,48,98,456,1025,42,18,49,56,120]

my_list = [12,10,30,56,120,12,10,30,55]

for items in mylist:
    for items2 in my_list:
        if items == items2:
            print(items)
        else:
            continue
    else:
        continue

12
12
10
10
30
30
55
56
120

In [22]:
# 7. Write a Python program to select the even items of a list.

mylist = [12,10,30,55,48,98,456,1025,42,18,49,56,120]

for i in mylist:
    if i%2==0:
        print(i)
    else:
        continue

12
10
30
48
98
456
42
18
56
120